body{
    
    background-color:rgb(250, 247, 247);
    font-family: "gabriel",cursive;
}
.ab{
    font-size: 20px;
    margin: 4px;
    padding: 0px;
}
/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color:rgb(195, 204, 210);
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 25px;
    color: rgb(18, 17, 17);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgb(163, 190, 196);
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #a4c6d08c;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 800px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  .logo-image{
    width: 90px;
    height: 80px;
    float: left;
    overflow: hidden;
    
  }

