*{
    margin:0px;
    padding:0px;
}

body{
   background:linear-gradient(to right top,rgb(190, 246, 190),white);
   background-image: url("bg.png");
   background-size:cover;
    background-repeat: no-repeat;
}

.header {
    background-color: gray;
    padding: 20px;
    text-align: center;
  }
 
.search:hover{
background: rgb(161, 186, 200);

}

.center{
    text-align: center;
    margin: 10px;
    background-size:center;
    background-repeat: no-repeat;
    font-family: cursive;
    font-size: 25px;
    font-weight: 100px;
 
}

.search{
    padding:15px;
    font-size: 20px;
    font-family:"gabriel",cursive;
    width:350px;
    background-color:rgb(195, 204, 210);
}

.van
{
     margin: 0;
     font-size: 65px;
    font-family:"gabriel",cursive;
    text-align:center;
    
  }


  
  .logo {
    max-width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  
  .navbar-links {
    display: inline-block;
    vertical-align: middle;
  }
  .navbar-links a{
    float: left;
  text-align: center;
  padding: 25px;
  color: rgb(18, 17, 17);
  text-decoration: none;
  font-size: 25px;
  }
  nav{
   
    background-color:rgb(195, 204, 210);
    overflow: auto;
  }
  .navbar-links a:hover{
    background-color: rgb(163, 190, 196);
  }
  


  @media (max-width: 600px) {
    .logo {
      max-width: 100px;
    }
  }
  
  @media (max-width: 400px) {
    .logo {
      max-width: 50px;
    }
  }





h1{text-align: center;
    font-size: 75px;
    font-family:monospace;
}

/* Navbar links on mouse-over */
/* Current/active navbar link */


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 800px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.logo-image {
  max-width: 150px;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
  .logo-image {
    max-width: 100px;
  }
}

@media (max-width: 400px) {
  .logo-image {
    max-width: 50px;
  }
}


.bottom{
  background-color:rgb(195, 204, 210);
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size:large;
  overflow: auto;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.img1 {
  max-width:100%;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .img1 {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
