body{
    
    background-color:rgb(250, 247, 247);
    
    font-family: "gabriel",cursive;
    padding: 0px;
}
.logo {
  max-width: 100px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.navbar-links {
  display: inline-block;
  vertical-align: middle;
}
.navbar-links a{
  float: left;
text-align: center;
padding: 25px;
color: rgb(18, 17, 17);
text-decoration: none;
font-size: 25px;
}
nav{
 
  background-color:rgb(195, 204, 210);
  overflow: auto;
}
.navbar-links a:hover{
  background-color: rgb(163, 190, 196);
}



@media (max-width: 600px) {
  .logo {
    max-width: 100px;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 50px;
  }
}
.ab{
    font-size: 18px;
    padding: 10px
}
.sr
{
  height: 25px;
  width: 250px;

}
.high{
  height: 25px;
  width: 100px;
  font-size: 15px;
}

.pencil{
  font-size: 25px;
}


/* Style the navigation bar */
.navbar {
  padding:0px;
  margin-top: 0%;
    width: 100%;
    background-color:rgb(195, 204, 210);
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 25px;
    color: rgb(18, 17, 17);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgb(163, 190, 196);
  }
  
  /* Current/active navbar link */

  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 800px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  .logo-image{
    width: 90px;
    height: 80px;
    float: left;
    overflow: hidden;
    
  }
  table {
    width: 100%;
    max-width:100%;
    display: block;
    overflow-x: auto;
    table-layout: fixed;
}

th, td {
    width: 150px;
    text-align: left;
}

@media (max-width: 600px) {
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
}

  